$font-color: #2c3e50;
$card-background-color: #ddd;
$card-header-background-color: #333;
$nav-height: 90px;
$tablet-width: 768px;

$z-indexes: (
  grid: (
    background:(),
    details:(),
    header:(),
  ),
  nav: (),
);