$font-color: #2c3e50;

$phone-width: 600px;
$phone: "only screen and (max-width: #{$phone-width})";
$tablet-width: 768px;
$tablet: "only screen and (max-width: #{$tablet-width})";
$not-mobile: "only screen and (min-width: #{$phone-width + 1})";

$z-indexes: (
  grid: (
    background:(),
    details:(),
    header:(),
    card-section-header:()
  ),
  nav: (),
);